*.DS_Store
*.bbl
*.blg
*.fdb_latexmk
*.dvi
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.aux
*.loa
*.lof
*.pdf
*.lot
*.bcf
*.run.xml

*.sublime-workspace
.ipynb_checkpoints
_minted-*
test*
*.nav
*.snm
*.vrb
