
/.DS_Store

/Mendeley.aux

/Mendeley.bbl

/Mendeley.blg

/Mendeley.fdb_latexmk

/Mendeley.fls

/Mendeley.log

/main.aux

/main.bbl

/main.blg

/main.dvi

/main.fdb_latexmk

/main.fls

/main.log

/main.out

/main.pdf

/main.synctex.gz

/main.toc
